
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/tableauepreuve.css">
</head>
<body>
    <div class="fixed">
        <nav class="sidebar">
            <div class="top">
                <div class="svgcont">
                    <img src="./assets/svg/sword-fill-svgrepo-com.svg" alt="logo">
                    <span>Epreuves</span>
                </div>
                <div class="svgcont">
                    <img src="./assets/svg/leaderboard-star-svgrepo-com.svg" alt="">
                    <span>classement</span>
                </div>
            </div>
            <div class="bottom">
                <div class="svgcont">
                    <img src="./assets/svg/home-icon-silhouette-svgrepo-com (1).svg" alt="">
                    <span>Accueil</span>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="gallery">
        <div class="gallery-item"><a href="redirect1.html"></a></div>
        <div class="gallery-item"><a href="redirect2.html"></a></div>
        <div class="gallery-item"><a href="redirect3.html"></a></div>
        <div class="gallery-item"><a href="redirect4.html"></a></div>
        <div class="gallery-item"><a href="redirect5.html"></a></div>
        <div class="gallery-item"><a href="redirect6.html"></a></div>
    </div>
</body>
</html>
